---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const title = "iPhoneShop Colombia"
const description = "Cambia tu iPhone, dale una segunda oportunidad y estrena sin gastar de más. En iPhoneShop Bogotá hacemos que renovar tu equipo sea fácil y accesible. ¡Únete al parche!"
---

{% include "randomproducts.njk" %}
<div
	class="w-box c1motows desktop"
	style="
		background-image: url('/img/banner.png');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		aspect-ratio: 16/9;
		height: 555px;
	"
></div>
<div
	class="w-box c1motows mobile"
	style="
		background-image: url('/img/banner_mobile.png');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		aspect-ratio: 16/9;
		height: 555px;
		display: inline-block;
	"
></div>
<div
	class="w-box cmjb9f3 cnt6qlj c1y7pyvf c16j606y c151u3qu c1pdqk1l c9jmw0 c1i4k7lg c17rltea c1649vbl"
>
	<h2 class="w-heading c1mg5cep c41qats">Nuestros Servicios</h2>
	<div id="NuestrosServicios" class="w-box cmjb9f3 c3lv0br mobile-column">
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<div
				style="
					background-image: url('/img/emoji manzana 1.png');
					background-position: center;
					background-size: 50px;
					background-repeat: no-repeat;
					aspect-ratio: 1/1;
				"
				class="w-box c45pq3b cgp01ad"
			></div>
			<div
				class="w-text c143e598 c5pcot3 cwmfe2q c1ifku28 c1s9v2a6 cls8hpq c6kys0s c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx chia14s"
			>
				Productos Apple
			</div>
			<div class="w-text c1efyick c1hfbpy8">
				Ofrecemos productos Apple nuevos y seminuevos y también accesorios.
			</div>
		</div>
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<div
				style="
					background-image: url('/img/emoji destornillador 1.png');
					background-position: center;
					background-size: 50px;
					background-repeat: no-repeat;
					aspect-ratio: 1/1;
				"
				class="w-box c45pq3b cgp01ad"
			></div>
			<div
				class="w-text c143e598 c5pcot3 cwmfe2q c1ifku28 c1s9v2a6 cls8hpq c6kys0s c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx chia14s"
			>
				Servicio técnico
			</div>
			<div class="w-text c1efyick c1hfbpy8">
				Cuarquier reparación que requieras realizar para tus dispositivos lo
				encontrarás.
			</div>
		</div>
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<div
				style="
					background-image: url('/img/image 2.png');
					background-position: center;
					background-size: 50px;
					background-repeat: no-repeat;
					aspect-ratio: 1/1;
				"
				class="w-box c45pq3b cgp01ad"
			></div>
			<div
				class="w-text c143e598 c5pcot3 cwmfe2q c1ifku28 c1s9v2a6 cls8hpq c6kys0s c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx chia14s"
			>
				Plan retoma
			</div>
			<div class="w-text c1efyick c1hfbpy8">
				Si ya tienes un iPhone y quieres actualizarte aprovecha el plan retoma y
				dalo como parte de pago para tu nuevo celu.
			</div>
		</div>
	</div>
</div>
<div class="w-box c1motows cmjb9f3 c17rltea RenuevateHome">
	<div
		style="
			background-image: url('/img/renuevate.png');
			background-position: center;
			background-repeat: no-repeat;
			aspect-ratio: 1/1;
			width: 100%;
		"
		class="w-box c1elcknr"
	></div>
</div>
<div
	class="w-box cmjb9f3 cnt6qlj c1y7pyvf c16j606y c151u3qu c1pdqk1l c9jmw0 c1i4k7lg c17rltea c1649vbl"
>
	<div class="w-box cmjb9f3 c3lv0br c125w540 mobile-column">
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<div
				style="
					background-image: url('/img/emoji dinero 1.png');
					background-position: center;
					background-size: 70px;
					background-repeat: no-repeat;
					aspect-ratio: 1/1;
				"
				class="w-box c45pq3b cgp01ad"
			></div>
			<div class="w-text c1hfbpy8 c1l80qpp c1pegqsm">Medios de Pago</div>
			<div class="w-text c1efyick c1hfbpy8">
				Lleva tu iPhone a crédito, débito, en efectivo y demás medios de pago.
			</div>
		</div>
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<div
				style="
					background-image: url('/img/envios emoji caja 1.png');
					background-position: center;
					background-size: 50px;
					background-repeat: no-repeat;
					aspect-ratio: 1/1;
				"
				class="w-box c45pq3b cgp01ad"
			></div>
			<div class="w-text c1hfbpy8 c1l80qpp c1pegqsm">Envíos</div>
			<div class="w-text c1efyick c1hfbpy8">
				Llevamos tu celu hasta tu casa u oficina, hacemos envíos rápidos con
				pago contraentrega de tu nuevo iPhone.
			</div>
		</div>
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<div
				style="
					background-image: url('/img/emoji casita tienda 1.png');
					background-position: center;
					background-size: 50px;
					background-repeat: no-repeat;
					aspect-ratio: 1/1;
				"
				class="w-box c45pq3b cgp01ad"
			></div>
			<div class="w-text c1hfbpy8 c1l80qpp c1pegqsm">Retiro en tienda</div>
			<div class="w-text c1efyick c1hfbpy8">
				Visita nuestra tienda para recibir asesoría o recoger tu producto luego
				de haber recibido asesoría vía WhatsApp.
			</div>
		</div>
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<div
				style="
					background-image: url('/img/emoji candado 1.png');
					background-position: center;
					background-size: 50px;
					background-repeat: no-repeat;
					aspect-ratio: 1/1;
				"
				class="w-box c45pq3b cgp01ad"
			></div>
			<div class="w-text c1hfbpy8 c1l80qpp c1pegqsm">Compra segura</div>
			<div class="w-text c1efyick c1hfbpy8">
				Y recuerda que al comprar con nosotros tienes 1 Año de garantía y
				recibes la factura legal de tu compra.
			</div>
		</div>
	</div>
</div>
