<div
	data-nen-map-component=""
	id="Footer"
	style="margin-top: 30px"
	class="w-box cyz78mt c1skgs6s c148x793 cmjb9f3 ct0w0ln c1dvyb9v c1i4k7lg cnhak1o c11m594l c8t3iim"
>
	<div
		class="w-box cmjb9f3"
		style="
			display: flex;
			justify-content: center;
			gap: 30px;
			align-items: center;
		"
	>
		<div class="w-box" style="width: 50%">
			<h1 class="w-heading c1mg5cep">Nuestra tienda física</h1>
			<div class="w-text cu16y8h" style="font-size: 1.5em">
				Avenida Carrera 30 75-61, 111211 Bogotá, D.C., Colombia
			</div>
			<div class="w-text cu16y8h" style="margin-bottom: 20px">
				Al frente de estación Calle 75 Zona M
			</div>

			<div class="w-box mobile cmjb9f3 cuyunjw c17rltea c1yfd3lf ccetx5f">
				<div class="w-box cmjb9f3 cr4yb7a c4h6aah c17rltea cfr73zw">
					<img
						class="w-box c10ddvei c1qrwpo0"
						src="{% icon 'phone-fill' %}"
					></img>
					<div class="w-text cu16y8h">+57 350 3324894</div>
				</div>
				<div class="w-box cmjb9f3 cr4yb7a c4h6aah c17rltea cfr73zw">
					<img
						class="w-box c10ddvei c1qrwpo0"
						src="{% icon 'instagram-line' %}"
					></img>
					<div class="w-text cu16y8h">@iphoneshopbogota</div>
				</div>
				<div class="w-box cmjb9f3 cr4yb7a c4h6aah c17rltea cfr73zw">
					<img
						class="w-box c10ddvei c1qrwpo0"
						src="{% icon 'facebook-circle-fill' %}"
					></img>
					<div class="w-text cu16y8h">iphoneshopbogota</div>
				</div>
			</div>
		</div>
		<div
			class="w-box desktop cmjb9f3 cuyunjw c17rltea c1yfd3lf ccetx5f"
			style="flex-direction: column"
		>
			<div class="w-box cmjb9f3 cr4yb7a c4h6aah c17rltea cfr73zw">
					<img
						class="w-box c10ddvei c1qrwpo0"
						src="{% icon 'phone-fill' %}"
					></img>
					<div class="w-text cu16y8h">+57 350 3324894</div>
				</div>
				<div class="w-box cmjb9f3 cr4yb7a c4h6aah c17rltea cfr73zw">
					<img
						class="w-box c10ddvei c1qrwpo0"
						src="{% icon 'instagram-line' %}"
					></img>
					<div class="w-text cu16y8h">@iphoneshopbogota</div>
				</div>
				<div class="w-box cmjb9f3 cr4yb7a c4h6aah c17rltea cfr73zw">
					<img
						class="w-box c10ddvei c1qrwpo0"
						src="{% icon 'facebook-circle-fill' %}"
					></img>
				<div class="w-text cu16y8h">iphoneshopbogota</div>
			</div>
		</div>

		<div class="mobile-flex" style="justify-content: center; flex-direction: column; align-items: center;">
			<a
				class="mobile-flex"
				href="https://api.whatsapp.com/send/?phone=573503324894&text&type=phone_number&app_absent=0"
				style="
					aspect-ratio: 1/1;
					width: 100px;
					height: 100px;
					border-radius: 9999px;
					justify-content: center;
					background-color: #9468fc;
					text-decoration: none;
					align-items: center;
				"
			>
				<img src="/img/whatsapp_blanco.png" style="width: 70%" />
			</a>
			<span class="mobile">Chatea con nosotros!</span>
		</div>
	</div>
	<div class="w-text c12j20p3 c1hr3po5">
		{% ano %}, IPhone Shop Colombia | Construido con
		<a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
		por CFuen Labs
	</div>
</div>
