{% css %}
	a {
		text-decoration: none;
	}
{% endcss %}

<div
	data-nen-map-component=""
	id="RandomProducts"
	class="w-box cmjb9f3 cnt6qlj c1y7pyvf c16j606y c151u3qu c1pdqk1l c9jmw0 c1i4k7lg c17rltea c1649vbl"
>
	<h2 class="w-heading c1mg5cep c41qats">Conoce nuestros productos</h2>
	<div
		class="w-box cmjb9f3 c1wh16go c3lv0br"
		style="flex-wrap: wrap; height: 160px; overflow: hidden"
	>
		<div
			class="w-box RandomProduct cmjb9f3 ceum43s c1053ni8"
			style="width: 200px; justify-content: center; align-items: center"
		>
			<div
				class="w-box c45pq3b cgp01ad Image"
				style="
					background-image: url('/img/productos/Iphone 16.png');
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				"
			></div>
			<div
				class="w-box cmjb9f3 c1i4k7lg ced64k9 cnt6qlj c1y7pyvf"
				style="width: 40%"
			>
				<div class="w-text" style="width: fit-content">iPhone</div>
				<div class="w-text ckkioje" style="width: 50%">Desde $1’199.000</div>
				<button
					type="submit"
					class="w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s cmjb9f3 c17rltea cfr73zw"
				>
					<a
						href="/productos/#iphone-16"
						class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3"
						>Comprar</a
					>
				</button>
			</div>
		</div>
		<div
			class="w-box RandomProduct cmjb9f3 ceum43s c1053ni8"
			style="width: 200px; justify-content: center; align-items: center"
		>
			<div
				class="w-box c45pq3b cgp01ad Image"
				style="
					background-image: url('/img/productos/Macbook Air 13 M1.webp');
					background-position: center;
					background-size: 100px;
					background-repeat: no-repeat;
				"
			></div>
			<div
				class="w-box cmjb9f3 c1i4k7lg ced64k9 cnt6qlj c1y7pyvf"
				style="width: 40%"
			>
				<div class="w-text" style="width: fit-content">MacBook</div>
				<div class="w-text ckkioje" style="width: 50%">Desde $2’949.000</div>
				<button
					type="submit"
					class="w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s cmjb9f3 c17rltea cfr73zw"
				>
					<a
						href="/productos/#macbook"
						class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3"
						>Comprar</a
					>
				</button>
			</div>
		</div>
		<div
			class="w-box RandomProduct cmjb9f3 ceum43s c1053ni8"
			style="width: 200px; justify-content: center; align-items: center"
		>
			<div
				class="w-box c45pq3b cgp01ad Image"
				style="
					background-image: url('/img/newproductos/Apple Watch Series 9 COL5.png');
					background-position: center;
					background-size: 50px;
					background-repeat: no-repeat;
				"
			></div>
			<div
				class="w-box cmjb9f3 c1i4k7lg ced64k9 cnt6qlj c1y7pyvf"
				style="width: 40%"
			>
				<div class="w-text" style="width: fit-content">Apple Watch</div>
				<div class="w-text ckkioje" style="width: 50%">Desde $1’699.000</div>
				<button
					type="submit"
					class="w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s cmjb9f3 c17rltea cfr73zw"
				>
					<a
						href="/productos/#applewatch"
						class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3"
						>Comprar</a
					>
				</button>
			</div>
		</div>
		<div
			class="w-box RandomProduct cmjb9f3 ceum43s c1053ni8"
			style="width: 200px; justify-content: center; align-items: center"
		>
			<div
				class="w-box c45pq3b cgp01ad Image"
				style="
					background-image: url('/img/productos/iPad Pro 11 6th M4.webp');
					background-position: center;
					background-size: 100px;
					background-repeat: no-repeat;
				"
			></div>
			<div
				class="w-box cmjb9f3 c1i4k7lg ced64k9 cnt6qlj c1y7pyvf"
				style="width: 40%"
			>
				<div class="w-text" style="width: fit-content">iPad</div>
				<div class="w-text ckkioje" style="width: 50%">Desde $1’449.000</div>
				<button
					type="submit"
					class="w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s cmjb9f3 c17rltea cfr73zw"
				>
					<a
						href="/productos/#ipad"
						class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3"
						>Comprar</a
					>
				</button>
			</div>
		</div>
		<div
			class="w-box RandomProduct cmjb9f3 ceum43s c1053ni8"
			style="width: 200px; justify-content: center; align-items: center"
		>
			<div
				class="w-box c45pq3b cgp01ad Image"
				style="
					background-image: url('/img/productos/cargador carga rapida iphone.jpg');
					background-position: center;
					background-size: 80px;
					background-repeat: no-repeat;
				"
			></div>
			<div
				class="w-box cmjb9f3 c1i4k7lg ced64k9 cnt6qlj c1y7pyvf"
				style="width: 40%"
			>
				<div class="w-text" style="width: fit-content">Accesorios</div>
				<div class="w-text ckkioje" style="width: 50%">Desde $39.999</div>
				<button
					type="submit"
					class="w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s cmjb9f3 c17rltea cfr73zw"
				>
					<a
						href="/productos/#accesorios"
						class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3"
						>Comprar</a
					>
				</button>
			</div>
		</div>
	</div>
</div>
