---js
const title = "Nosotros | iPhoneShop Bogotá"
const description = "En iPhoneShop Bogotá creemos en segundas oportunidades. Conoce nuestro compromiso con la tecnología accesible y cómo puedes renovar tu iPhone."
---

<div
	id="NosotrosPictureContainer"
	style="position: relative; width: 100%; margin-bottom: 300px"
>
	<img src="/img/nosotros/fondo nosotros.png" style="width: 100%" />
	<div
		id="Malcriado"
		style="
			position: absolute;
			left: 25%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			top: 25%;
			bottom: 50%;
			width: 50%;
		"
	>
		<img src="/img/nosotros/somos.png" class="desktop" />
		<p style="font-size: 2.2em; width: 150%">
			Somos unos soñadores que buscan facilitarle las cosas a nuestros clientes,
			dándoles la posibilidad de tener el iPhone que siempre han querido por un
			precio asequible. También somos totalmente creyentes de las Segundas
			Oportunidades y que aportar al cambio ambiental importa, ¿Y tú, qué
			esperas para #renovarte?
		</p>
		<img
			src="/img/nosotros/foto perro.png"
			style="position: absolute; bottom: -570px"
		/>
	</div>
</div>

<div
	class="w-box cmjb9f3 cnt6qlj c1y7pyvf c16j606y c151u3qu c1pdqk1l c9jmw0 c1i4k7lg c17rltea c1649vbl"
>
	<div
		class="w-box mobile-column mobile-no-padding cmjb9f3 c1x0yk7u c1we9gpx c1t80odo"
		style="gap: 20px"
	>
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<img
				class="w-box mobile-smaller-emoji c45pq3b cgp01ad c1qne64m c4dwrzu c125uort"
				src="/img/nosotros/emoji iphone celu 1.png"
			/>
			<div
				class="w-text c143e598 c5pcot3 cwmfe2q c1ifku28 c1s9v2a6 cls8hpq c6kys0s c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx chia14s"
			>
				IPhones
			</div>
			<div class="w-text c1efyick c1hfbpy8">
				Cumplimos el sueño de los colombianos que siempre han querido tener un
				producto de apple.
			</div>
		</div>
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<img
				class="w-box mobile-smaller-emoji c45pq3b cgp01ad c1qne64m c4dwrzu c125uort"
				src="/img/nosotros/emoji reciclaje.png"
			/>
			<div
				class="w-text c143e598 c5pcot3 cwmfe2q c1ifku28 c1s9v2a6 cls8hpq c6kys0s c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx chia14s"
			>
				Sostenible
			</div>
			<div class="w-text c1efyick c1hfbpy8">
				Nuestros productos son IPhones que reutilizados, reacondicionados para
				su nuevo dueño.
			</div>
		</div>
		<div class="w-box cmjb9f3 ceum43s c1053ni8 c1i4k7lg cfr73zw">
			<img
				class="w-box mobile-smaller-emoji c45pq3b cgp01ad c1qne64m c4dwrzu c125uort"
				src="/img/nosotros/emoji gafas de sol 2.png"
			/>
			<div
				class="w-text c143e598 c5pcot3 cwmfe2q c1ifku28 c1s9v2a6 cls8hpq c6kys0s c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx chia14s"
			>
				Asequible
			</div>
			<div class="w-text c1efyick c1hfbpy8">
				Traemos productos de alto estatus y alta calidad a un precio asequible
				para nuestros clientes
			</div>
		</div>
	</div>
</div>
<div id="FAQ" class="w-box cmjb9f3 c1i4k7lg c1ncz9yz c832bqe">
	<div
		id="FAQTitle"
		class="w-box mobile-column cmjb9f3"
		style="justify-content: center; align-items: center"
	>
		<img
			src="https://em-content.zobj.net/source/apple/391/thinking-face_1f914.png"
			style="aspect-ratio: 1/1; width: 80px; height: 80px"
		/>
		<h1 class="w-heading ch3dvsq">Preguntas frecuentes de nuestros clientes</h1>
	</div>
	<h1 class="w-heading">¿Recibimos crédito?</h1>
	<div class="w-text">
		Recibimos todos los medios de pago, entre ellos, tarjeta de crédito, por lo
		cuál puede realizar tu compra con tu tarjeta de crédito y adicionalmente
		tenemos un convenio con créditos Vanti con los que podrás financiar tus
		comprar a cuotas, y puedes acceder a este crédito validando tus datos
		personales presencialmente en nuestra tienda física.
	</div>
	<h1 class="w-heading">¿Reciben celus como medio de pago?</h1>
	<div class="w-text">
		Si, recibimos iPhones desde el iPhone 11 en adelante. Sólo recibimos iPhone
		o productos Apple, y el proceso para hacer el pago por medio del
		#planretoma: primero verifica en nuestra sección de servicios en qué estado
		se encuentra tu celu Aquí, posteriormente deberás llevar tu celu a nuestra
		tienda física para poder hacer una revisión de su estado físico y funcional
		para validar por cuál valor se puede recibir el celu, en caso de cumplir con
		los requerimientos te cotizamos el valor restante para el nuevo celu y
		finalmente, si tomas la decisión de llevarlo realizas el pago del valor
		restante a través de cualquier medio de pago (tarjeta débito/crédito,
		efectivo y transferencia bancaria) y ¡te llevas tu celu nuevo!
	</div>
	<h1 class="w-heading">¿Cuáles referencias de iPhone son nuevos?</h1>
	<div class="w-text">
		Las referencias que manejamos nuevos son: iPhone 13, iPhone 14, iPhone 15,
		iPhone 16, iPhone 16 Plus, iPhone 16 Pro, iPhone 16 Pro Max
	</div>
	<h1 class="w-heading">¿Dónde están ubicados?</h1>
	<div class="w-text">
		Nos encontramos en la ciudad de Bogotá D.C, Colombia, en la Avenida Carrera
		30 75-61, primer piso, al frente de estación de transmilenio: Calle 75 Zona
		M, por el costado Norte a Sur.
	</div>
</div>
<div
	class="w-box cmjb9f3 cnt6qlj c1y7pyvf c16j606y c151u3qu c1pdqk1l c9jmw0 c1i4k7lg c17rltea c1649vbl"
></div>
