---js
const title = "Productos | iPhoneShop"
const description = "Descubre nuestra selección de iPhones y accesorios Apple en Bogotá. Renueva tu equipo y únete al parche de las segundas oportunidades. ¡Estrena hoy!"
---

{% from "productCategory.njk" import productCategory with context %}

{% css %}
	.ProductImage {
		width: 15vw;
		aspect-ratio: 1/1;
	}

	.Product:hover {
		transform: scale(1.2);
	}
{% endcss %}

{{ productCategory("iPhone 16") }}
{{ productCategory("iPhone 15") }}
{{ productCategory("iPhone 14") }}
{{ productCategory("iPhone 13") }}
{{ productCategory("iPhone 12") }}
{{ productCategory("iPhone 11") }}
{{ productCategory("Macbook") }}
{{ productCategory("iPad") }}
{{ productCategory("AirPods") }}
{{ productCategory("Apple Watch") }}
{{ productCategory("Accesorios") }}


<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 30px; margin-top: 30px;">
	<img src="/img/servicios/sticker escríbenos.png" style="width: 10vw">
	<a
		class="WhatsAppButton desktop"
		href="https://api.whatsapp.com/send/?phone=573503324894&text&type=phone_number&app_absent=0">
		<img src="/img/icono_apple.png">
		<span>
			Chatea con nosotros
		</span>
	</a>
	<img src="/img/servicios/renuevate_1.png">
</div>
