---
pagination:
  data: productosCategorias
  size: 1
  alias: producto
permalink: "productos/{{ pagination.pageNumber }}/index.html"
---

{% css %} button { cursor: pointer; } .StorageButton[data-active=false] {
background: none; border: 2px solid rgba(148, 104, 252, 1); }
.StorageButton[data-active=false] span { color: #9468fc !important; } {% endcss
%}

<title>{{ producto.categoria }} {{ producto.nombre }} | iPhoneShop</title>
<meta
  name="description"
  content="Compra el {{ producto.categoria }} {{ producto.nombre }} en Bogotá
	{% if producto.almacenamiento.length > 0 %}
 	 {% if producto.almacenamiento[0].precio %}
			desde ${{ producto.almacenamiento[0].precio | lameMoney }}
		{% else %}
			por ${{ producto.precio | lameMoney }}
		{% endif %}.
	{% endif %}.
  Incluye 1 año de garantía..."
/>

<button
  class="w-button c1qxtfah c1cmvwnu cmizgbn c1y39me0 c16vdcy0 cmjb9f3 cfr73zw c1x0yk7u cfdrz1r c1d7qgsy chia14s c1tcsmd6 c17wxlj6"
>
  <img class="w-box c10ddvei c1qrwpo0" src="{% icon 'arrow-left-line' %}" />
  <a
    href="/productos"
    class="w-text"
    style="text-decoration: none; color: inherit"
    >Volver</a
  >
</button>
<div id="ProductDetails" class="w-box cmjb9f3 c19z4ibv cfr73zw c17rltea">
  {% if producto.imagenes %} {% for imagen in producto.imagenes %}
  <div
    class="ProductImage w-box"
    style="
				background-image: url('{{ imagen.path }}');
				background-position: center;
				background-size: 60%;
				background-repeat: no-repeat;
				height: 80vh;
				width: 500px;
				{% if loop.index != 1 %}
				display: none;
				{% endif %}
			"
    data-color="{{ imagen.color }}"
  ></div>
  {% endfor %} {% else %}
  <div
    id="ProductImage"
    class="w-box"
    style="
			background-image: url('{{ producto.imagen }}');
			background-position: center;
			background-size: 60%;
			background-repeat: no-repeat;
			height: 80vh;
			width: 500px;
			"
  ></div>
  {% endif %}
  <div
    class="w-box desktop c8fc2ts c6j7nan c25k87w c1ywrdyi cj0aezm cmjb9f3 c1i4k7lg c11z8tpt c1mmn4vs cgrqarw"
    style="width: 50%"
  >
    <h1
      class="w-heading c6koavb c1okmal5 c1l80qpp"
      style="width: 90%; font-size: 4vw"
    >
      {% if producto.categoria === "Accesorios" %}
      {{ producto.nombre }}
      {% else %}
      {{ producto.categoria }} {{ producto.nombre }}
      {% endif %}
    </h1>

    {# Price display section #}
    <div id="ProductPriceTag" class="w-text c1joile5 c1mg5cep crtj8fp">
      $ {{ producto.precio | lameMoney }}
    </div>

    <div class="w-box">
      <div class="w-text c1vi2vbz cwkfqbj crtj8fp">Medios de pago</div>
      <div class="w-text c1ony0i0 crtj8fp c1mg5cep">
        Tarjeta débito/crédito | Efectivo | Tu IPhone viejo | Crédito Vanti
      </div>
    </div>
    <div class="w-text chia14s cwmfe2q c145dlcw">
      Producto nuevo y sellado: Incluye 1 año de garantía, factura legal y
      documentación completa para registro en cualquier operador. Además, cuenta
      con cable de datos original, sellado y listo para su uso inmediato.
    </div>
    <div
      class="w-text cjv7sq2 c1mg5cep c14notjg c1p8w8zz c1ki8kq9 c12qgyge c1ony0i0"
    >
      <i class="w-italic-text"
        >Recuerda que nuestra tienda física está ubicada en:</i
      ><br /><b class="w-bold-text"
        ><i class="w-italic-text"
          >Avenida Carrera 30 75-61, Local 111211 Bogotá, D.C.</i
        ></b
      >
    </div>
    {% if producto.colores %}
    <div class="w-box c1e532xa c1502ijh">
      <div class="w-box cmjb9f3 cecqjxj ci555pz cfr73zw c17wyhp3">
        <div class="w-text c1mg5cep">Color</div>
        <div class="w-box cmjb9f3 c16hrwwz crr2iv3">
          {% for color in producto.colores %}
          <button
            class="ColorButton w-box c1m9wykf cgfzz87 c1y9stmp cqixt7s c1hctfk1 c1skgs6s c12c16fo c13j9ftn c1k21dbm ct54u06 c18g2b9i cji22fm co5t2xk c5oagqz"
            style="background-color: {{ color.hex }};"
            data-color="{{ color.name }}"
            data-hex="{{ color.hex }}"
          ></button>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="w-box cmjb9f3 c1x0yk7u c1odfpg9 c1mhnzcb">
      <button
        id="PurchaseBtn"
        class="w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx c17rltea cfr73zw cmig1nz cmv4ppy c1502ijh"
      >
        <span class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3 cf2c5mw"
          >Comprar</span
        >
      </button>

      <button
        class="w-button c1keckai c17r1h2z c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx c1x0yk7u cfr73zw c1qxtfah cmv4ppy c1502ijh cc0b51r c1tmsdbh"
      >
        <span
          class="w-text c1up2k5j c1nxe5jf cmkteo9 cajlrxs crtj8fp c1mg5cep cf2c5mw"
          style="flex-wrap: wrap"
          >Pedir por WhatsApp</span
        ></button
      ><button
        id="CartAddBtn"
        class="w-button ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx c17rltea cfr73zw c1qxtfah cmv4ppy c1502ijh cmig1nz c1tmsdbh"
      >
        <span
          class="w-text c1up2k5j c1nxe5jf cmkteo9 cajlrxs crtj8fp c1mg5cep cf2c5mw"
          >Añadir +</span
        >
      </button>
    </div>

    {# Storage options section #} {% if producto.almacenamiento.length > 0 %}
    <div class="w-text c1mg5cep">Capacidad</div>
    {% for stopt in producto.almacenamiento %}
    <button
      class="StorageButton w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx c17rltea cfr73zw c1e532xa c1502ijh c15qzjcv"
      data-storage="{{ stopt.almacenamiento }}"
      data-priceplain="{{ stopt.precio }}"
      data-pricestylish="{{ stopt.precio | lameMoney }}"
      data-active="false"
    >
      <span
        class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3 cf2c5mw czt98vz"
      >
        {{ stopt.almacenamiento }} GB
      </span>
    </button>
    {% endfor %} {% endif %}
  </div>
  <div
    class="w-box mobile-flex c8fc2ts c6j7nan c25k87w c1ywrdyi cj0aezm cmjb9f3 c1i4k7lg c11z8tpt c1mmn4vs cgrqarw"
  >
    <h1
      class="w-heading c6koavb c1okmal5 c1l80qpp"
      style="width: 90%; font-size: 4vw"
    >
      {% if producto.categoria === "Accesorios" %}
      {{ producto.nombre }}
      {% else %}
      {{ producto.categoria }} {{ producto.nombre }}
      {% endif %}
    </h1>
    <div class="w-text c1joile5 c1mg5cep crtj8fp">
      $ {{ producto.precio | lameMoney }}
    </div>
    <div class="w-box">
      <div class="w-text c1vi2vbz cwkfqbj crtj8fp">Medios de pago</div>
      <div class="w-text c1ony0i0 crtj8fp c1mg5cep">
        Tarjeta débito/crédito | Efectivo | Tu IPhone viejo | Crédito Vanti
      </div>
    </div>
    <div class="w-text chia14s cwmfe2q c145dlcw">
      Producto nuevo y sellado: Incluye 1 año de garantía, factura legal y
      documentación completa para registro en cualquier operador. Además, cuenta
      con cable de datos original, sellado y listo para su uso inmediato.
    </div>
    <div
      class="w-text cjv7sq2 c1mg5cep c14notjg c1p8w8zz c1ki8kq9 c12qgyge c1ony0i0"
    >
      <i class="w-italic-text"
        >Recuerda que nuestra tienda física está ubicada en:</i
      ><br /><b class="w-bold-text"
        ><i class="w-italic-text"
          >Avenida Carrera 30 75-61, Local 111211 Bogotá, D.C.</i
        ></b
      >
    </div>
    {% if producto.colores %}
    <div class="w-box c1e532xa c1502ijh">
      <div class="w-box cmjb9f3 cecqjxj ci555pz cfr73zw c17wyhp3">
        <div class="w-text c1mg5cep">Color</div>
        <div class="w-box cmjb9f3 c16hrwwz crr2iv3">
          {% for color in producto.colores %}
          <button
            class="ColorButton w-box c1m9wykf cgfzz87 c1y9stmp cqixt7s c1hctfk1 c1skgs6s c12c16fo c13j9ftn c1k21dbm ct54u06 c18g2b9i cji22fm co5t2xk c5oagqz"
            style="background-color: {{ color.hex }};"
            data-color="{{ color.name }}"
            data-hex="{{ color.hex }}"
          ></button>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <div
      class="w-box cmjb9f3 c1x0yk7u c1odfpg9 c1mhnzcb"
      style="flex-wrap: wrap"
    >
      <button
        class="w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx c17rltea cfr73zw cmig1nz cmv4ppy c1502ijh"
      >
        <span class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3 cf2c5mw"
          >Comprar</span
        ></button
      ><button
        class="w-button c1keckai c17r1h2z c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx c1x0yk7u cfr73zw c1qxtfah cmv4ppy c1502ijh cc0b51r c1tmsdbh"
      >
        <span
          class="w-text c1up2k5j c1nxe5jf cmkteo9 cajlrxs crtj8fp c1mg5cep cf2c5mw"
          >Pedir por WhatsApp</span
        ></button
      ><button
        class="w-button ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx c17rltea cfr73zw c1qxtfah cmv4ppy c1502ijh cmig1nz c1tmsdbh"
      >
        <span
          class="w-text c1up2k5j c1nxe5jf cmkteo9 cajlrxs crtj8fp c1mg5cep cf2c5mw"
          >Añadir +</span
        >
      </button>
    </div>

    {% if producto.almacenamiento.length > 0 %}
    <div class="w-text c1mg5cep">Capacidad</div>
    {% for stopt in producto.almacenamiento %}
    <button
      class="StorageButton w-button c1cmvwnu cmizgbn c1y39me0 c16vdcy0 c143e598 ci555pz cecqjxj c1ifku28 cls8hpq c6kys0s c1s9v2a6 c1m9wykf cgfzz87 c1y9stmp cqixt7s c1ljdafx c17rltea cfr73zw c1e532xa c1502ijh c15qzjcv"
      data-storage="{{ stopt.almacenamiento }}"
      data-priceplain="{{ stopt.precio }}"
      data-pricestylish="{{ stopt.precio | lameMoney }}"
      data-active="false"
    >
      <span
        class="w-text csxjr51 cjn148n c16ud4p8 cpg05q c5pcot3 cf2c5mw czt98vz"
      >
        {{ stopt.almacenamiento }} GB
      </span>
    </button>
    {% endfor %} {% endif %}
  </div>
</div>

<script id="Setup_Zustand_state" src="/js/zust.js" type="module"></script>

<script id="Setup_CFL_utils" src="/js/cfl.js" type="module"></script>

<script id="Setup_Bold_utils" src="/js/bold.js" type="module"></script>

<script>
  // Ensure everything is ready before interacting with the Zustand state
  document.addEventListener("DOMContentLoaded", () => {
  	// Access Zustand state globally via window.cflabs.state
  	const state = window.cflabs.state;

  	if (localStorage.getItem('products')) {
  		state.getState().setProducts(JSON.parse(localStorage.getItem('products')) ?? []);
  	}

  	// Use the methods to interact with your cart and Bold Button setup
  	const boldButtonBuilder = window.cflabs.bold.buttonBuilder;

  	{% if producto.categoria === "Accesorios" %}
  		const productName = `{{ producto.nombre }}`
  	{% else %}
  		const productName = `{{ producto.categoria }} {{ producto.nombre }}`
  	{% endif %}

  	// Example of setting up the Bold button with dynamic data
  	document.querySelector("#CartAddBtn").addEventListener("click", () => {
  		const colorElm = Array.from(document.querySelectorAll('.ProductImage')).find(
  			piElm => getComputedStyle(piElm).display === 'block'
  		);

  		const failsafe = document.querySelector('#ProductImage')

  		const bgStyle = colorElm ? getComputedStyle(colorElm).backgroundImage : getComputedStyle(failsafe).backgroundImage;
  		const imagenURL = bgStyle.startsWith('url(')
  			? bgStyle.slice(4, -1).replace(/^["']|["']$/g, '')
  			: null;

    	{% if producto.almacenamiento.length > 0 %}
    		{% if producto.almacenamiento.length < 2 %}
  			const almacenamiento = document.querySelector('.StorageButton');
  		{% else %}
  			const almacenamiento = document.querySelector('.StorageButton[data-active="true"]');
  		{% endif %}
  		const storagePrice = { stylish: almacenamiento?.dataset.pricestylish, plain: parseInt(almacenamiento?.dataset.priceplain) };
  		// const storagePrice = { stylish: almacenamiento?.dataset.priceStylish, plain: parseInt(almacenamiento?.dataset.price.replace(/’|\./, '')) };
  	{% else %}
  		const basePrice = parseInt('{{ producto.precio }}');
  	{% endif %}

  		const colorHex = document.querySelectorAll('.ColorButton') ? (Array.from(document.querySelectorAll('.ColorButton')).find(
  				piElm => piElm.dataset.color === colorElm.dataset.color
  			)?.dataset.hex ?? null) : null

  		const productDataObj = {
  			id: '{{ pagination.pageNumber }}'+(colorElm ? (colorElm.dataset.color ?? '') : '')+(almacenamiento.dataset.storage),
  			nombre: productName,
   	 		{% if producto.almacenamiento.length > 0 %}
  			precio: storagePrice.plain,
  		{% else %}
  			precio: basePrice,
  		{% endif %}
  			almacenamiento: almacenamiento ? almacenamiento.dataset.storage : null,
  			color: colorElm ?? null
  				? {
  						nombre: colorElm ? (colorElm.dataset.color ?? null) : null,
  						hex: colorHex ? colorHex : null,
  				  }
  				: null,
  			imagen: imagenURL,
  		};

  		state.getState().addProduct(productDataObj);
  		localStorage.setItem('products', JSON.stringify(state.getState().products))
  		console.log(state.getState().products);
  		window.cflabs.bold.setOrderInfo();
  	});
  })
</script>

<script id="Events_Switching">
  document.addEventListener("DOMContentLoaded", () => {
    Array.from(document.querySelectorAll(".ColorButton")).forEach((b) => {
      b.addEventListener("click", () => {
        Array.from(document.querySelectorAll(".ProductImage")).forEach((pi) => {
          if (pi.dataset.color === b.dataset.color) {
            pi.style.display = "unset";
          } else {
            pi.style.display = "none";
          }
        });
      });
    });

    Array.from(document.querySelectorAll(".StorageButton")).forEach((b) => {
      b.addEventListener("click", () => {
        document.querySelector(
          "#ProductPriceTag"
        ).innerText = `$ ${b.dataset.pricestylish}`;

        Array.from(document.querySelectorAll(".StorageButton")).forEach(
          (ab) => {
            if (b.dataset.storage === ab.dataset.storage) {
              ab.dataset.active = "true";
            } else {
              ab.dataset.active = "false";
            }
          }
        );
      });
    });

    document.querySelector(".StorageButton")
      ? Array.from(document.querySelectorAll(".StorageButton"))[0].click()
      : () => {};
  });
</script>
